@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

.App {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #a4b0be;

  font-family: 'Roboto', sans-serif;
  line-height: 1.2875;
  font-size: 14px;
}

.game-wrapper {
  margin: 20px 0;
  position: relative;
}

.game-wrapper .game-info {
  position: absolute !important;
  margin: 0;
  left: -20px;
  transform: translateX(-100%);
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  min-width: 170px;
  box-shadow: none !important;
  min-width: 290px;
}

.game-info .player {
  font-size: 1em;
  font-family: 'Permanent Marker', cursive;
}

.game-info .info > p {
  margin: 0 0 7px;
}

.board-row {
  display: flex;
  font-size: 22px;
}

.board-cell {
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1em;
  font-size: 1em;
  font-weight: 900;
  font-family: 'Permanent Marker', cursive;

  margin: 1px;
  padding: 0;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

button.board-cell {
  outline: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.player.X {
  color: #eb4d4b;
}
.player.O {
  color: #4834d4;
}

.player.XO {
  color: #27ae60;
}

.board-cell.not-clickable,
.board-cell.not-clickable {
  cursor: not-allowed;
}

.board-cell.winning-cell {
  background-color: #ced6e0;
}

.text-center {
  text-align: center !important;
}

/* history */

.history-block {
  position: absolute !important;
  top: 0;
  right: -20px;
  transform: translateX(100%);
  margin: 0 !important;
  min-width: 290px;
}

.history-block .history-title {
  font-size: 20px !important;
  margin: 0;
}

.history-block .box-title {
  display: flex;
  justify-content: space-between;
}
.history-block .history-items {
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
}

@media screen and (max-width: 991px) {
  .game-wrapper {
    margin: 10px 0;
    text-align: center;
  }

  #board {
    display: inline-block;
    margin-top: 10px;
  }
  .App {
    display: block;
  }
  .board-row {
    /* font-size: px; */
  }
  .game-wrapper .game-info {
    position: static !important;
    transform: translateX(0);
    left: auto;
    font-size: 14px;
    /* width: 100%; */
    margin: 0 auto !important;
  }
  .history-block {
    position: static !important;
    transform: translateX(0);
    right: auto;
    font-size: 14px;
    /* width: 100%; */
    margin: 10px auto 0 !important;
  }
  .history-block .history-title {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 575px) {
  .board-cell {
    font-size: 14px;
  }
}
